
.mainColor{
    background-color: #FCA265;
    border-color: #FCA265;
}
#CL{
    height: 1vh;
}
.btn{
    margin-top: 1vh;
}
h1{
    font-size: 4em;
}
a{
    color: black;
    font-size: 1.25rem;
}
.info:hover{
    text-decoration: underline;
    color: black;
}
